body {
  background-color: #f2f2f2;
  /* background-color: #1a1a1a; */
}
.details-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.details-content.open {
  max-height: 200px; /* Adjust based on your content */
  padding: 1rem;
}

.summary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
  padding: 1rem;
  background-color: #f9fafb;
  color: #111827;
  border-radius: 0.5rem;
}

.summary-content h2 {
  font-weight: 500;
}

.summary-content svg {
  transition: transform 0.3s;
}

.details-text {
  padding: 0 1rem;
  color: #374151;
  line-height: 1.6;
}

.space-y-4 > *:not(:last-child) {
  margin-bottom: 1rem;
}

.transition {
  transition: transform 0.3s;
}

.rotate-180 {
  transform: rotate(180deg);
}
